<footer class="footer">

<div class="container footer-grid">


<div class="footer-col">


<img 
src="/assets/logo/logo.png"
class="footer-logo"
alt="OneToolBox">


<h3>
OneToolBox
</h3>


<p>
Free online tools for Image, PDF,
Video, Audio, AI and Utility tasks.
Fast, Secure and Easy.
</p>


</div>




<div class="footer-col">

<h3>
Tools
</h3>


<ul>

<li>
<a href="/pages/image/">
Image Tools
</a>
</li>


<li>
<a href="/pages/pdf/">
PDF Tools
</a>
</li>


<li>
<a href="/pages/video/">
Video Tools
</a>
</li>


<li>
<a href="/pages/audio/">
Audio Tools
</a>
</li>


<li>
<a href="/pages/ai/">
AI Tools
</a>
</li>


<li>
<a href="/pages/utility/">
Utility Tools
</a>
</li>


</ul>

</div>





<div class="footer-col">

<h3>
Quick Links
</h3>


<ul>

<li>
<a href="/">
Home
</a>
</li>


<li>
<a href="/about.html">
About
</a>
</li>


<li>
<a href="/contact.html">
Contact
</a>
</li>


<li>
<a href="/privacy.html">
Privacy Policy
</a>
</li>


<li>
<a href="/terms.html">
Terms
</a>
</li>


</ul>

</div>





<div class="footer-col">

<h3>
Connect
</h3>


<p>
📧 support@onetoolbox.com
</p>


<p>
🌐 www.onetoolbox.com
</p>



<div class="footer-social">

<a href="#">
<i class="fab fa-facebook"></i>
</a>


<a href="#">
<i class="fab fa-twitter"></i>
</a>


<a href="#">
<i class="fab fa-instagram"></i>
</a>


</div>


</div>


</div>





<div class="footer-bottom">

<p>

© 2026 OneToolBox. All Rights Reserved.

</p>

</div>


</footer>